.Front {
    display: none;
}

.ChapterNumber {
    float: left;
    font-size: 200%;
    margin: 0;
    display: inline;
}

.ChapterNumber:after,.VerseNumber:after {
    content: "\00a0";
}

.VerseNumber {
}

.VerseNumber.One {
    display: none;
}

.NomenDomini {
    font-variant: small-caps;
}

.Footnote {
    display: inline-block;
    outline: dashed deeppink;
    background-color: pink;
}